<div class="form">
<form method="post" id="{{_form}}">

<p>
	{"Page layout"}:<br />
	<select name="layout">
	{% foreach layouts %}
		<option value="{{ loop_value }}"{% if loop_value == $data->layout %} selected{% end %}>{{ loop_value|ucfirst }}</option>
	{% end %}
	</select>
	<span class="notice" id="layout-notice">{"Please choose a page layout."}</span>
</p>

<p>
	{"Type of search engine"}:<br />
	<select name="backend" id="backend">
	{% foreach backends as _key, _val %}
		<option value="{{ _key }}"{% if _key == $data->layout %} selected{% end %}>{{ _val }}</option>
	{% end %}
	</select>
	<span class="notice" id="backend-notice">{"Please choose the type of search engine."}</span>
</p>

<div class="backend-settings" id="elasticsearch-settings">
	<p>
		{"ElasticSearch host"}:<br />
		<input type="text" name="server1_host" value="{{server1_host|quotes}}" size="30" />
	</p>
	<p>
		{"ElasticSearch port"}:<br />
		<input type="text" name="server1_port" value="{{server1_port|quotes}}" size="10" />
	</p>
</div>

<div class="backend-settings" id="indextank-settings">
	<p>
		{"IndexTank public API address"}:<br />
		<input type="text" name="public_api_url" value="{{public_api_url|quotes}}" size="60" />
	</p>
	<p>
		{"IndexTank private API address"}:<br />
		<input type="text" name="private_api_url" value="{{private_api_url|quotes}}" size="60" />
	</p>
	<p>
		{"IndexTank index name"}:<br />
		<input type="text" name="index_name" value="{{index_name|quotes}}" size="30" />
	</p>
</div>

<p>
    <button>{"Save Settings"}</button>
    <a href="/search/admin"
       onclick="return confirm ('{'Are you sure you want to cancel?'}')">{"Cancel"}</a>
</p>

</form>
</div>

<style>.backend-settings { display: none; }</style>

<script>
$(function () {
	$('#backend').on ('change', function () {
		$('.backend-settings').hide ();
		$('#' + $('#backend option:selected').val () + '-settings').show ();
	});
	$('#{{backend}}-settings').show ();
});
</script>
